<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>User page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <h1> Profile: <%= info.user_fn %>
    </h1>
    <form action="/api/updateUser" method="post">
        <div class="form-group">
          <label>First Name</label>
          <input type="text" name="firstName" class="form-control"  placeholder="First Name">
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input name="lastName" type="text" class="form-control"  >
        </div>

        <input type="submit" value="submit" class="btn btn-primary">Submit</button>
      </form>
    <ul>
        <li> <b>FN:</b>
            <%= info.user_fn %>
        </li>
        <li> <b>MN:</b>
            <%= info.user_mn %>
        </li>
        <li> <b>Last Name:</b>
            <%= info.user_ln %>
        </li>
        <li> <b>Country</b>
            <%= info.country_name%>
        </li>
    </ul>
</body>

</html>